.info__section {
    background-color: var(--background-color2);
}

.info {
    display: flex;
    flex-direction: column;
}

.info__head {
    margin-bottom: var(--header-margin);
}

.info__blocksInfo {
    margin-bottom: 80px;
}

.info__blocksInfo,
.info__blocksGrade {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    gap: var(--item-gap);

}

.info__item,
.info__grade {
    flex-basis: var(--item-base-sz);
    flex-grow: 1;
    padding: 50px 0;
    border-radius: 10px;
    background-color: var(--darkviolet);
}

.info__blockHeader,
.info__block__text {
    text-align: center;
}

.info__blockHeader {
    font-weight: bold;
    font-size: 46px;
    margin-bottom: 15px;
}

.info__tagline {
    font-size: 36px;
    margin-bottom: 40px;
}

.info__grade {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.info__block__gread {
    font-size: 54px;
}

.info__block__right {
    display: flex;
    flex-direction: column;
}

.info__block__platform {
    margin-bottom: 10px;
}

@media (max-width: 1500px) {
    .info__mainText {
        align-self: center;
    }

    .info__head,
    .info__mainText,
    .info__tagline {
        text-align: center;
    }

    .info__blocksGrade,
    .info__blocksInfo {
        justify-content: space-around;
        gap: var(--item-gap);
    }
}