.catalog {
    display: flex;
    flex-direction: column;
}

.catalog__head {
    margin-bottom: 50px;
}

.catalog__buttons {
    display: flex;
    gap: 35px;
    margin-bottom: 20px;
    width: 100%;
    overflow: scroll;
    scrollbar-width: none;
}

.catalog__buttons::-webkit-scrollbar {
    display: none;
}

.catalog__buttons .button {
    white-space: nowrap;
}

.catalog__items {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(var(--item-base-sz), 1fr));
    gap: var(--item-gap);
}

@media (max-width: 1500px) {
    .catalog__head {
        text-align: center;
    }
}

@media (max-width: 700px) {
    .catalog__buttons {
        gap: 20px;
    }
}