footer {
    background-color: var(--almostBlack);
}

.footer {
    display: flex;
    justify-content: space-between;
    padding-bottom: 70px;
}

.footerLeft {
    display: flex;
    flex-direction: column;
}

.footer__logo {
    margin-bottom: 35px;
}

.footer__urlsListsBlocks {
    display: flex;
    gap: 50px;

    margin-bottom: 50px;
}

.footer__list__url {
    display: flex;
    flex-direction: column;
}

.list__urls {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.list__head {
    margin-bottom: 20px;
}

.footer__urls {
    display: flex;
    gap: 30px;
}

@media (max-width: 1500px) {
    .footer {
        justify-content: center;
    }

    .footerLeft {
        align-items: center;
    }

    .footer__last {
        text-align: center;
    }

    .footer__list__url {
        text-align: center;
        width: min(calc(100% / 3), 400px);
    }

    .footerRight a {
        display: none;
    }
}

@media (max-width: 700px) {
    .footer__urlsListsBlocks {
        flex-direction: column;
        align-items: center;
    }

    .footer__list__url {
        width: 100%;
    }
}