textarea {
    resize: none;
}

.Feedback label {
    color: #AFB2BF;
    font-size: 12px;

    position: absolute;
    top: 7px;
    left: 50px;
}

.Feedback .CommentDiv label {
    left: 20px;
}

.icon {
    position: absolute;
    left: 14px;
}

#iconEmail {
    top: 20px;
}

#iconTelegram {
    top: 17px;
}

#iconTheme {
    top: 17px;
}

.Feedback {
    background-color: #1E1F29;

    display: inline-block;

    width: 793px;
    height: 620px;
    border-radius: 10px
}

.FormName {
    color: #FAFAFA;

    margin-top: 50px;
    margin-bottom: 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
    text-align: center;
}

.InputDiv {
    margin-bottom: 15px;
    display: inline-block;
    position: relative;
    left: 48px;
}

.InputBlock {
    color: #FAFAFA;
    background-color: #2E2D3D;
    font-size: 16px;

    border: none;
    border-radius: 10px;

    width: 697px;
    height: 58px;

    box-sizing: border-box;
    padding: 15px 0 0 50px;
}

.InputDiv #comment {
    height: 135px;
}

.CommentDiv {
    margin-bottom: 25px;
}

.CommentDiv .InputBlock {
    padding: 25px 0 0 20px;
}

.SendButton {
    color: #FAFAFA;
    background-color: #6C38CC;
    font-size: 20px;

    padding: 0px;

    /* transition: all 200ms; */
    transition: background-color 200ms, color 200ms;
}

.SendButton:hover {
    color: #d1d1d1;
    background-color: #5b31aa;
}

.SendButton:focus {
    color: #a3a3a3;
    background-color: #492788;
    /* transition: all 0s; */
}