textarea {
    resize: none;
}

body {
    background-color: #15161d;
}

.FeedbackForm {
    background-color: #1E1F29;

    display: block;

    max-width: 793px;
    min-width: 350px;
    height: 600px;
    border-radius: 10px;
    padding-top: 20px;
    margin: 0 auto;
}

.FormName {
    color: #FAFAFA;

    margin-bottom: 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
    text-align: center;
}

.InputDiv {
    display: block;
    position: relative;
    margin: 0 50px 15px 50px;
}

.InputBlock {
    color: #FAFAFA;
    background-color: #2E2D3D;
    font-size: 16px;

    border: none;
    border-radius: 10px;

    width: 100%;
    height: 58px;

    box-sizing: border-box;
    padding: 0 0 0 50px;
}

label {
    color: #AFB2BF;
    font-size: 12px;

    position: absolute;
    top: 7px;
    left: 50px;
}

.AnimationLabel {
    top: 1.2em;
    font-size: 1em;
}

.CommentDiv label {
    left: 20px;
}

.icon {
    position: absolute;
    left: 14px;
}

#iconEmail {
    top: 20px;
}

#iconTelegram {
    top: 17px;
}

#iconTheme {
    top: 17px;
}

#theme {
    padding-top: 10px;
}

.InputDiv #comment {
    height: 135px;
}

.CommentDiv {
    margin-bottom: 25px;
}

.CommentDiv .InputBlock {
    padding: 25px 0 0 20px;
}

.SendButton {
    color: #FAFAFA;
    background-color: #6C38CC;
    font-size: 20px;

    padding: 0px;
}