* {
    box-sizing: border-box;
}

/* @font-face {
    font-family: "Roboto";
    src: url(../Fonts/Roboto-Regular.ttf);
} */

body {
    font-family: 'Roboto', sans-serif;
    background-color: #1c1b21;
    color: #FAFAFA;
    font-size: 55px;
}

.container {
    border: 10px solid #6c38cc;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    /* позволяет задать равные отступы между элементами */
    gap: 20px 10px;

    /* позволяет просто отделить один элемент от других или типо того */
    /* margin-____: auto; */
}

.item {
    background-color: #232228;
    border: 1px solid #6c38cc;
    text-align: center;
    padding: 10px;

    flex: 0 1 calc(100% / 3 - 20px * 2 / 3);
}